<!DOCTYPE html>
<html lang="en" ng-app="filmFind">
<head >
    <meta charset="UTF-8">
    <title>Find movies</title>
</head>
    <body>
        <div ng-controller="FilmController as ctrl"> 
        <h2>Films</h2>
        Filter Films <input type="text" ng-model="movieFilter.Title">
        <br/>
        <table>
            <tr>
                <th ng-click="ctrl.doSort()">Director</th>
                <th ng-click="ctrl.doSort()">Title</th>
                <th ng-click="ctrl.doSort()">Genre</th>
                <th ng-click="ctrl.doSort()">Released</th>
            </tr>
            <tr ng-repeat="film in ctrl.films | filter:movieFilter | orderBy:ctrl.sortBy:ctrl.reverse">
                <td>{{film.Director | uppercase}}</td>
                <td>{{film.Title | lowercase}}</td>
                <td>{{film.Genre}}</td>
                <td>{{film.Released}}</td>
            </tr>
        </table>

        <span>Total films: {{ctrl.films.length}}</span>

        <p ng-click="ctrl.gitDetails()">Git details: {{ctrl.gitHubDetails.login}}</p>
    </div>
        <script src="angular.js"></script>
        <script src="app.js"></script>
        <script src="controller.js"></script>
    </body>
</html>